.container {
  width: 300px;
  min-height: 200px;
  height: fit-content;
}

#floatingWindow {
  min-width: 300px;
  width: 300px;
  min-height: 200px;
  height: fit-content;
  border: 1px solid #ccc;
  background-color: #7a87f5;
  color: #fff;
  padding: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border-radius: 10px;
}

.tempo_trabalho_div {
  margin-bottom: -20px;
}

.tempo_descanso_div {
  margin-top: -30px;
}

.title {
  text-align: center;
  margin-bottom: -5px;
  padding: 0;
}

.tempo_descanso_div,
.tempo_trabalho_div {
  text-align: center;
  display: flex;
}

.tempo_descanso_div > *,
.tempo_trabalho_div > * {
  padding-right: 10px;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin: 7px;
}

.hidden {
  display: none;
}

.clock {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 10px auto;
  border: 3px solid #fff;
  border-radius: 50%;
  place-items: center;
}
